body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
    height: 100%;
    background: #E5E5E5;
    /* overflow: hidden; */
}

h6 {
    font-size: 18px;
    font-weight: 700;
}

p {
    font-weight: 400;
    font-size: 13px;
}

/* header */
header {
    width: 100%;
    height: 140px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: -1%;
    bottom: 85.43%;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    /* overflow: hidden; */
} 

.container-1 {line-height: 140px;}

.logo p {
    color: #6379F4;
    font-weight: 700;
    font-size: 29px;
}

.user h6 {line-height: 31px;}

.user p {line-height: 24px;}

.profile {
    align-self: center;
    line-height: 0px;
} 

.navbar {display: none;}
/* header */

/* main */
main {
    position: absolute;
    width: 100%;
    background: #E5E5E5;
    /* overflow: hidden; */
}

/* sidebar */
.sidebar {
    width: 270px;
    height: 760px;
    left: 150px;
    top: 180px;
    border-radius: 25px;
    background: #fff;
    position: absolute;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    margin-bottom: 46px;
    /* overflow: hidden; */
}

.nav-link {
    list-style: none;
    margin-top: 47px;
    margin-right: 100px;
    color: black;
}

.nav-link.active::after {
    content: '';
    display: block;
    border-left: 3px solid #6379F4;
    width: 20%;
    height: 25px;
    margin: auto;
    margin-left: -16px;
    margin-top: -25px;
}

.nav-link:hover::after {
    content: '';
    display: block;
    border-left: 3px solid #6379F4;
    width: 20%;
    height: 15px;
    margin: auto;
    margin-left: -16px;
    margin-top: -15px;
}

.sidebar li {margin-bottom: 52px;}

.logout {margin-top: 216px;}
/* sidebar */

/* content */
.content {
height: 760px;
width: 850px;
left: 440px;
top: 180px;
position: absolute;
background: #E5E5E5;
border-radius: 25px;
/* overflow: hidden; */
}

.row-1 {
    height: 190px;
    width: 850px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #6379F4;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    color: white;
}

.row-1 a {color: white;}

.sub-desc {
    margin-left: 30px;
    margin-top: 25px;
}

.sub-desc h2 {font-weight: bold;}

.sub-desc p {
    font-size: 16px;
}

.transfer {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    height: 50px;
    width: 160px;
    border: none;
    margin: -115px 70px 0px 0px;
}

.transfer img {
    margin: 10px 0px 10px 20px;
}

.topUp {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    height: 50px;
    width: 160px;
    border: none;
    margin-top: 20px;
}

.topUp img {
    margin: 10px 0px 10px 20px;
}

.sub-row {
    height: 600px;
    width: 850px;
    left: 0px;
    bottom: 0px;
    position: absolute;
}

.row-a {
    height: 550px;
    width: 468px;
    left: 0px;
    bottom: 0px;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}

.row-b {
    height: 550px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}

.sub-content {
    margin-right: 20px;
    margin-bottom: 30px;
}

.title a {margin-top: -30px;}

.detail {
    margin-top: 20px;
    margin-bottom: 30px;
}

.detail img {
    width: 50px;
    height: 50px;
}

.detail-profile {
    line-height: 10px;
    margin-left: 10px;
    font-size: 16px;
}

.detail-profile {font-weight: 500;}

.price p {
    margin-top: -70px;
    margin-right: 0px;
    align-items: center;
}

.income {
    margin: 0px;
}

.expense {
    right: 0px;
    margin-left: 160px;
    margin-top: 0px;
}

canvas {
    margin-left: -375px;
    margin-top: 100px;
}


/* content */
/* main */

/* footer */
footer {
    width: 100%;
    height: 68px;
    left: 0px;
    margin-top: 80px;
    border-radius: 0px;
    position: absolute;
    left: 0px;
    top: 893px;
    background: #6379F4;
    line-height: 68px;
    color: #fff;
}

.brand {
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
}

.contact {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: end;
    right: -300px;
}
/* footer */



