@media screen and (max-width: 1024px) {
    .profile h6 {
        font-size: 18px;
        font-weight: 700;
    }

    .profile p {
        font-size: 13px;
        font-weight: 400;
    }

    .navbar {display: none;}

    .sidebar {
        width: 230px;
        height: 478px;
        left: 30px;
        font-size: 14px;
    }

    .sidebar li {margin-bottom: 0px;}

    .logout {margin-top: 130px;}

    .nav-link {margin-top: 20px;}

    .nav-link img {
        width: 25px;
    }

.content {
    height: 478px;
    width: 680px;
    left: 280px;
    }

    .reciever {
        margin: 18px 18px 18px -5px;
        height: 70px;
        width: 630px;
    }

    .reciever img {
        width: 50px;
        height: 50px;
        margin-top: 10px;
    }
    
    .detail-profile {margin-top: 10px;}

    #number {
        margin-top:0px;
        margin-left: 5px;
        height: 50px;
        font-size: 40px;
        color:  #6379F4;
        border: none;
    }
    
    #note {background-position-x: 60px;}
    
    .input{
        margin-top: 30px;
        margin-right: 40px;
        
    }
    
    .nominal p {
    left: 265px;
    top: 310px;
    }
    
    
    .input img {
        width: 20px;
        height: 20px;
        margin-top: -90px;
        margin-left: 100px;
    }
    
    .input p {
        margin-top: -90px;
        margin-left: 10px;
    }
    
    .back {
        top: 400px;
        margin-left: 480px;
    }

    footer {top: 693px;}

    .contact {
        display: flex;
        justify-content: end;
        left: 10px;
    }
        
}

@media screen and (max-width: 768px) {
    header {
        height: 120px;
    }

    .logo p {
        font-weight: 700;
        font-size: 20px;
    }
    
    .user h6 {
        font-weight: 700;
        font-size: 14px;
        line-height: 28px;
    }
    
    .user p {
        font-weight: 400;
        font-size: 10px;
        line-height: 20px;
    }
    
    .profile {
        align-self: center;
        line-height: 0px;
    } 

    .navbar {display: none;}

    .sidebar {
        width: 170px;
        height: 478px;
        left: 20px;
    }

    .sidebar a {
        margin: 20px 20px 20px 0px;
        font-size: 13px;
    }

    .sidebar img{width: 20px;}

    .logout {margin-top: 180px;}

    .content {
        height: 478px;
        width: 550px;
        left: 200px;
        }
        
    
    .reciever {
        margin: 18px 18px 18px -5px;
        height: 70px;
        width: 520px;
    }

    .reciever img {
        width: 50px;
        height: 50px;
        margin-top: 10px;
    }
    
    .detail-profile {margin-top: 10px;}

    .nominal p {
        left: 205px;
        top: 310px;
    }

    .back {
        top: 400px;
        margin-left: 370px;
    }

    footer {top: 693px;}

    .contact {
        display: flex;
        justify-content: end;
        left: 10px;
    }
    
}

@media screen and (max-width: 425px) {
    header {height: 150px;}

    .container {line-height: 90px;}

    .profile {margin-top: 35px;}

    .img-user {
        width: 45px;
        height: 45px;
        margin-top: 45px;
        display: inherit;
    }

    .logo p {
        font-weight: 500;
        font-size: 19px;
    }
    
    .user h6 {
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
    }
    
    .user p {
        font-weight: 200;
        font-size: 9px;
        line-height: 12px;
    }

    .img-bell {display: none;}

    .nav-link.active::after, .nav-link:hover::after {
        display: none;
    }

    .content {
        display: relative;
        z-index: 1;
        height: 478px;
        width: 400px;
        left: 13px;
    }

    .sidebar {display: none;}

    .navbar {
        margin-top: -15px;
        margin-left: 10px;
        z-index: 2;
        display: inherit;
    }
        
    .list-name {margin-top: 70px;}
        
    .reciever {
        margin: 18px 18px 18px -5px;
        height: 70px;
        width: 380px;
    }
    
    #number {
        top:-100px;
        margin-left: 0px;
        height: 30px;
        font-size: 30px;
        color:  #6379F4;
        border: none;
    }
    
    #note {
        background-position-x: 40px;
        background-position-y: 35px;
        width: 250px;
    }
    
    .input{
        margin-top: 50px;
        margin-right: 40px;
        
    }
    
    .nominal p {
    left: 130px;
    font-weight: 600;
    }
    
    .input img {
        margin-top: -95px;
    }
    
    .back {
        top: 420px;
        margin-left: 220px;
        height: 40px;
        width: 120px;
    }

    .back a {
        margin-left: 25px;
        line-height: 40px;
    }

    footer {top: 693px;}

    .footer {
        line-height: 5px;
        margin-top: 15px;
    }
    
    .brand {
        font-weight: 200;
        font-size: 7px;
        margin: 0px;
    }
    
    .contact {
        display: inherit;
        font-size: 7px;
        font-weight: 400;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 5px;
        left: 30px;
    }

    .contact h6 {grid-column: 1 / -1;}

}